<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title></title>
    <link href="../Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/jquery-2.1.4.min.js"></script>

    <script src="../Scripts/JsBarcode.all.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function ()
        {

            if ($("#divBarcode1").attr("alt") != "") {
                $("#divBarcode1").JsBarcode($("#divBarcode1").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode2").attr("alt") != "") {
                $("#divBarcode2").JsBarcode($("#divBarcode2").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode3").attr("alt") != "") {
                $("#divBarcode3").JsBarcode($("#divBarcode3").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode4").attr("alt") != "") {
                $("#divBarcode4").JsBarcode($("#divBarcode4").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode5").attr("alt") != "") {
                $("#divBarcode5").JsBarcode($("#divBarcode5").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode6").attr("alt") != "") {
                $("#divBarcode6").JsBarcode($("#divBarcode6").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode7").attr("alt") != "") {
                $("#divBarcode7").JsBarcode($("#divBarcode7").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode8").attr("alt") != "") {
                $("#divBarcode8").JsBarcode($("#divBarcode8").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode9").attr("alt") != "") {
                $("#divBarcode9").JsBarcode($("#divBarcode9").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode10").attr("alt") != "") {
                $("#divBarcode10").JsBarcode($("#divBarcode10").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode11").attr("alt") != "") {
                $("#divBarcode11").JsBarcode($("#divBarcode11").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode12").attr("alt") != "") {
                $("#divBarcode12").JsBarcode($("#divBarcode12").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode13").attr("alt") != "") {
                $("#divBarcode13").JsBarcode($("#divBarcode13").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode14").attr("alt") != "") {
                $("#divBarcode14").JsBarcode($("#divBarcode14").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode15").attr("alt") != "") {
                $("#divBarcode15").JsBarcode($("#divBarcode15").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode16").attr("alt") != "") {
                $("#divBarcode16").JsBarcode($("#divBarcode16").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode17").attr("alt") != "") {
                $("#divBarcode17").JsBarcode($("#divBarcode17").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode18").attr("alt") != "") {
                $("#divBarcode18").JsBarcode($("#divBarcode18").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode19").attr("alt") != "") {
                $("#divBarcode19").JsBarcode($("#divBarcode19").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode20").attr("alt") != "") {
                $("#divBarcode20").JsBarcode($("#divBarcode20").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode21").attr("alt") != "") {
                $("#divBarcode21").JsBarcode($("#divBarcode21").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode22").attr("alt") != "") {
                $("#divBarcode22").JsBarcode($("#divBarcode22").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode23").attr("alt") != "") {
                $("#divBarcode23").JsBarcode($("#divBarcode23").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode24").attr("alt") != "") {
                $("#divBarcode24").JsBarcode($("#divBarcode24").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode25").attr("alt") != "") {
                $("#divBarcode25").JsBarcode($("#divBarcode25").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode26").attr("alt") != "") {
                $("#divBarcode26").JsBarcode($("#divBarcode26").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode27").attr("alt") != "") {
                $("#divBarcode27").JsBarcode($("#divBarcode27").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode28").attr("alt") != "") {
                $("#divBarcode28").JsBarcode($("#divBarcode28").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode29").attr("alt") != "") {
                $("#divBarcode29").JsBarcode($("#divBarcode29").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }
            if ($("#divBarcode30").attr("alt") != "") {
                $("#divBarcode30").JsBarcode($("#divBarcode30").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
            }

        });
        </script>
</head>
<body>
    <table width="100%" cellspacing="20">
        <tr>
            <td>
                <div >
                    <img class="barcode" id="divBarcode1" alt="GAU0000010" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode2" alt="GAU0000020" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode3" alt="GAU0000030" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode4" alt="GAU0000040" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode5" alt="GAU0000050" />
                </div>
            </td>
        </tr><tr><td colspan="5"> <br /></td></tr>
        <tr>

            <td>
                <div >
                    <img class="barcode" id="divBarcode6" alt="GAU0000060" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode7" alt="GAU0000070" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode8" alt="GAU0000080" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode9" alt="GAU0000090" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode10" alt="GAU0000100" />
                </div>
            </td>
        </tr><tr><td colspan="5"> <br /></td></tr>
        <tr>
            <td>
                <div >
                    <img class="barcode" id="divBarcode11" alt="GAU0000110" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode12" alt="GAU0000120" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode13" alt="GAU0000130" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode14" alt="GAU0000140" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode15" alt="GAU0000150" />
                </div>
            </td>
        </tr><tr><td colspan="5"> <br /></td></tr>
        <tr>

            <td>
                <div >
                    <img class="barcode" id="divBarcode16" alt="GAU0000160" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode17" alt="GAU0000170" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode18" alt="GAU0000180" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode19" alt="GAU0000190" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode20" alt="GAU0000200" />
                </div>
            </td>
        </tr><tr><td colspan="5"> <br /></td></tr>
        <tr>
            <td>
                <div >
                    <img class="barcode" id="divBarcode21" alt="GAU0000210" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode22" alt="GAU0000220" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode23" alt="GAU0000230" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode24" alt="GAU0000240" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode25" alt="GAU0000250" />
                </div>
            </td>
        </tr><tr><td colspan="5"> <br /></td></tr>
        <tr>

            <td>
                <div >
                    <img class="barcode" id="divBarcode26" alt="GAU0000260" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode27" alt="GAU0000270" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode28" alt="GAU0000280" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode29" alt="GAU0000290" />
                </div>
            </td>
            <td>
                <div >
                    <img class="barcode" id="divBarcode30" alt="GAU0000300" />
                </div>
            </td>
        </tr><tr><td colspan="5"> <br /></td></tr>
    </table>
</body>
</html>
<!--<div id="barcodecontainer" style="width: 25%; ">
    <div style="float: right">
        <img style="position: relative;" class="barcode" id="barcode" />
    </div>
</div>-->