<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/jquery-3.5.1.min.js"></script>

    <script src="../Scripts/JsBarcode.all.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function ()
        {

            if (window.opener.document.getElementById("txtBarcode1").value != "") {
                document.getElementById("divBarcode1").alt = window.opener.document.getElementById("txtBarcode1").value;
                if ($("#divBarcode1").attr("alt") != "") {
                    $("#divBarcode1").JsBarcode($("#divBarcode1").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode2").value != "") {
                document.getElementById("divBarcode2").alt = window.opener.document.getElementById("txtBarcode2").value;
                if ($("#divBarcode2").attr("alt") != "") {
                    $("#divBarcode2").JsBarcode($("#divBarcode2").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode3").value != "") {
                document.getElementById("divBarcode3").alt = window.opener.document.getElementById("txtBarcode3").value;
                if ($("#divBarcode3").attr("alt") != "") {
                    $("#divBarcode3").JsBarcode($("#divBarcode3").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode4").value != "") {
                document.getElementById("divBarcode4").alt = window.opener.document.getElementById("txtBarcode4").value;
                if ($("#divBarcode4").attr("alt") != "") {
                    $("#divBarcode4").JsBarcode($("#divBarcode4").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode5").value != "") {
                document.getElementById("divBarcode5").alt = window.opener.document.getElementById("txtBarcode5").value;
                if ($("#divBarcode5").attr("alt") != "") {
                    $("#divBarcode5").JsBarcode($("#divBarcode5").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode6").value != "") {
                document.getElementById("divBarcode6").alt = window.opener.document.getElementById("txtBarcode6").value;
                if ($("#divBarcode6").attr("alt") != "") {
                    $("#divBarcode6").JsBarcode($("#divBarcode6").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode7").value != "") {
                document.getElementById("divBarcode7").alt = window.opener.document.getElementById("txtBarcode7").value;
                if ($("#divBarcode7").attr("alt") != "") {
                    $("#divBarcode7").JsBarcode($("#divBarcode7").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode8").value != "") {
                document.getElementById("divBarcode8").alt = window.opener.document.getElementById("txtBarcode8").value;
                if ($("#divBarcode8").attr("alt") != "") {
                    $("#divBarcode8").JsBarcode($("#divBarcode8").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode9").value != "") {
                document.getElementById("divBarcode9").alt = window.opener.document.getElementById("txtBarcode9").value;
                if ($("#divBarcode9").attr("alt") != "") {
                    $("#divBarcode9").JsBarcode($("#divBarcode9").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode10").value != "") {
                document.getElementById("divBarcode10").alt = window.opener.document.getElementById("txtBarcode10").value;
                if ($("#divBarcode10").attr("alt") != "") {
                    $("#divBarcode10").JsBarcode($("#divBarcode10").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode11").value != "") {
                document.getElementById("divBarcode11").alt = window.opener.document.getElementById("txtBarcode11").value;
                if ($("#divBarcode11").attr("alt") != "") {
                    $("#divBarcode11").JsBarcode($("#divBarcode11").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }
            if (window.opener.document.getElementById("txtBarcode12").value != "") {
                document.getElementById("divBarcode12").alt = window.opener.document.getElementById("txtBarcode12").value;
                if ($("#divBarcode12").attr("alt") != "") {
                    $("#divBarcode12").JsBarcode($("#divBarcode12").attr("alt"), { format: "CODE128", displayValue: true, fontSize: 14, height: 50, width: 1 });
                }
            }

        });
        </script>
</head>
<body>
    <table width="80%" cellspacing="50">
        <tr><td colspan="4">&nbsp;<br /></td></tr>

        <tr>
            <td>
                <div>
                    <img class="barcode" id="divBarcode1" alt="" />
                </div>
            </td>
            <td>
                <div>
                    <img class="barcode" id="divBarcode2" alt="" />
                </div>
            </td>
            <td>
                <div>
                    <img class="barcode" id="divBarcode3" alt="" />
                </div>
            </td>
            <td>
                <div>
                    <img class="barcode" id="divBarcode4" alt="" />
                </div>
            </td>
        </tr>
        <tr><td colspan="4">&nbsp;<br /></td></tr>
        <tr>
            <td>
                <div>
                    <img class="barcode" id="divBarcode5" alt="" />
                </div>
            </td>
            <td>
                <div>
                    <img class="barcode" id="divBarcode6" alt="" />
                </div>
            </td>
            <td>
                <div>
                    <img class="barcode" id="divBarcode7" alt="" />
                </div>
            </td>
            <td>
                <div>
                    <img class="barcode" id="divBarcode8" alt="" />
                </div>
            </td>
        </tr>
        <tr><td colspan="4">&nbsp;<br /></td></tr>

        <tr>
            <td>
                <div>
                    <img class="barcode" id="divBarcode9" alt="" />
                </div>
            </td>
            <td>
                <div>
                    <img class="barcode" id="divBarcode10" alt="" />
                </div>
            </td>
            <td>
                <div>
                    <img class="barcode" id="divBarcode11" alt="" />
                </div>
            </td>
            <td>
                <div>
                    <img class="barcode" id="divBarcode12" alt="" />
                </div>
            </td>
        </tr>
    </table>
</body>
</html>